<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title></title>

	<link href="lib/ionic/css/ionic.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!-- ionic/angularjs/cordova, dymo-core, and other libs js -->
	<script src="lib/ionic/js/ionic.bundle.js"></script>
	<script src="lib/ngCordova/dist/ng-cordova.js"></script>
	<script src="cordova.js"></script>
	<script src="lib/mathjs/dist/math.js"></script>
	<script src="lib/dymo-core/dist/dymo-core.min.js"></script>

	<!-- semantic player's js -->
	<script src="js/app.js"></script>
	<script src="js/sensorcontrol.js"></script>
	<script src="js/controls/accelerometercontrol.js"></script>
	<script src="js/controls/tiltcontrol.js"></script>
	<script src="js/controls/compasscontrol.js"></script>
	<script src="js/controls/geolocationcontrol.js"></script>
	<script src="js/controls/geodistancecontrol.js"></script>
	<script src="js/controls/beaconcontrol.js"></script>
	<script src="js/util/ramp.js"></script>
</head>
<body ng-app="semanticplayer" ng-controller="renderingController">
	<ion-pane>
		<ion-header-bar class="bar-dark" ng-show="config.showTitle">
			<h1 class="title">{{config.title}}</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item class="item-input item-select item-dark" ng-show="config.showDymoSelector">
					<div class="input-label">
						Select Dynamic Music Object
					</div>
					<select ng-model="state.selectedDymo" ng-options="d as d.name for d in config.dymos" ng-change="dymoSelected()"></select>
				</ion-item>
				<ion-item ng-show="config.showPlaybackButtons">
					<button class="button button-balanced" ng-click="manager.startPlaying()">
						<i class="icon ion-play"></i>
					</button>
					<button class="button button-energized" ng-click="manager.pausePlaying()">
						<i class="icon ion-pause"></i>
					</button>
					<button class="button button-assertive" ng-click="manager.stopPlaying()">
						<i class="icon ion-stop"></i>
					</button>
				</ion-item>
				<ion-item ng-show="config.showDymoControls" ng-if="u.getType() == &apos;Slider&apos;" class="item range range-energized" ng-repeat="u in uiControls">
					<div class="input-label">
						{{ u.getName() }}
					</div>
					<input type="range" name="slider" min="0" max="1" step=".001" ng-model="u.value" ng-change="u.update()">
				</ion-item>
				<ion-toggle ng-show="config.showDymoControls" ng-if="u.getType() == &apos;Toggle&apos;" ng-repeat="u in uiControls" ng-model="u.value" ng-change="u.update()">
					{{ u.getName() }}
				</ion-toggle>
				<ion-item ng-show="config.showDymoControls" ng-if="u.getType() == &apos;Button&apos;" ng-repeat="u in uiControls">
					<button class="button button-calm" ng-model="u.value" ng-click="u.update()">
						{{ u.getName() }}
					</button>
				</ion-item>
				<ion-item ng-show="config.showSensorSection">
					<button class="button button-positive" ng-click="compassWatcher.reset(); geolocationWatcher.reset()">
						Reset sensors
					</button>
					<button class="button button-royal" ng-click="toggleSensorData()">
						Show sensor data
					</button>
				</ion-item>
				<ion-item ng-show="config.showSensorSection&&showSensorData">
					<div class="input-label" ng-repeat="s in sensorControls">
						{{ s.getName() }}: {{ s.getValue() }}
					</div>
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-pane>
</body>
</html>
